
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header,footer{
  font-family: 'Abril Fatface';
}

body{
  font-family: 'Old Standard TT', serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
  color: black;
  border: 3px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-size: 300%;
  cursor: pointer;
  background-image: linear-gradient(to left, #362b18, #bba275, #463518);
  transition: 0.8s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  background-position: right;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

/* TEAMS ESTILOS */
.header_team{
  background: #780206;
background: -webkit-linear-gradient(to bottom, #061161, #780206);
background: linear-gradient(to bottom, #061161, #780206);
  grid-area: header;
  display: flex;
}

.menu {
  display: flex;
  padding-top: 10px;
}

.menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu nav ul {
  display: flex;
  font-size: 30px;
}
.menu nav ul li {
  list-style-type: none;
}

.link {
  color: #556195;
  text-decoration: none;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin: 20px;
  padding: 20px;
  width: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-size: 300%;
  background-image: linear-gradient(to bottom, #000428, #004e92);
  transition: 0.6s;
}
.link:hover {
  background-position: right;
}

main {
  grid-area: main;
}

main h1 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.tit_teams{
  color: #6a6a6a;
  font-size: 25px;
  justify-content: center;
  text-align: center;
background: #780206;
background: -webkit-linear-gradient(to top, #061161, #780206);
background: linear-gradient(to top, #061161, #780206);
;


}
.east {
  background-image: url(../img/Background/b30cd6f1ab3dd2a095cfc4622423dd6a.jpg);
}

.west {
  background-image: url(../img/Background/back_west.jpeg);
}
.west_east_team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caja {
  margin: 15px;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.caja:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.caja p {
  line-height: 1;
  color: #6a6a6a;
  text-align: center;
}

.caja a {
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-top: 10px;
  color: #362b18;
  border: 1px solid #362b18;
  border-radius: 4px;
  transition: all 400ms ease;
}

.caja a:hover {
  background-image: linear-gradient(to top, #061161, #780206);
  color: #fff;
}
.caja img {
  width: 200px;
  height: 260px;
}

footer {
    background-color: #000000;
    color: #50422a;
    text-align: center;
    justify-content: center;
  grid-area: footer;
  border-top: black solid 10px;
  padding: 20px;
}
/* TEAMS ESTILOS */

/* CHAMPIONS ESTILOS */

.header_champ{
  background-color: #000000;
  grid-area: header;
  display: flex;
}

.tit_champ {
  color: #50422a;
font-size: 25px;
justify-content: center;
text-align: center;
background-color: #000000;
border-top: 2px solid snow;
border-bottom: 2px solid snow;
}

.champs{
  background-image: url(../img/Background/back-champ.jpg);
}

.campeones{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link_champ {
    color: #50422a;
  text-decoration: none;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin: 20px;
  padding: 20px;
  width: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-size: 300%;
  background-image: linear-gradient(to right, #212020, #000000);
  transition: 0.6s;
}
.link_champ:hover {
  background-position: right;
}

.caja_champ {
  margin: 15px;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.caja_champ:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.caja_champ h3 {
  line-height: 2;
  color: #6a6a6a;
  text-align: center;
  font-size: 1.5rem;
}


.caja_champ p {
  width: 550px;
  padding: 10px;
  line-height: 1;
  color: #6a6a6a;
  text-align: center;
}

.caja_champ a {
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-top: 10px;
  color: #362b18;
  border: 1px solid #362b18;
  border-radius: 4px;
  transition: all 400ms ease;
}

.caja_champ a:hover {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  color: #fff;
}
.caja_champ img {
  width:560px; 
  height:315px; 
}

/* CHAMPIONS ESTILOS */

/* Rivalries Estilos */

.bloq{
  display: flex;
  width: 100%;
}

.slider{
  width: 50%;
  height: 350px;
  overflow: hidden;
}

.slider ul{
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.slider li{
  width: 100%;
  list-style-type: none;
}

.slider img{
  width: 100%;
  height: 100%;
}

@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
} 

.caja_rivals {
  margin: 15px;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  border-radius: 30px;
  border: 1px solid;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.caja_rivals p {
  line-height: 1;
  color: #6a6a6a;
  text-align: center;
}

.caja_rivals a {
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-top: 10px;
  color: gold;
  border: 1px solid gold;
  border-radius: 4px;
  transition: all 400ms ease;
}

.caja_rivals a:hover {
  background-image: linear-gradient(to right, gold, #000000);
  color: black;
}

.caja_rivals h3{
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 2rem;
}

/* Rivalries Estilos */