.nav-link {
    color: #0b0b0b!important;
    padding: 10px !important;
    margin: 1px !important;
    background-color: #660000;
    border: 1px solid #dd1133;
    border-radius: 10px;
  }
  
  .nav-link:hover{
    background-color: #000046 !important;
    border: 1px solid #0044ff;
    color: snow !important;
    
  } 
  
  .bg-dark {
    background-image: linear-gradient(to right, #780206, #061161) !important;
  }
  
  .d-flex {
    padding: 5px !important;
    display: flex !important;
  }
  